{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block main_content %}
<div class="jumbotron">
  <h1>The About Page</h1>
  <p class="lead">You can learn more about my website here.</p>
</div>
{% endblock %}