{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block main_content %}

  <h1 class="text-center">Blog Detail</h1>
  <hr>
  <div class="container">


    <form method="POST"  >
          {{ form.hidden_tag() }}
              <b>{{ form.title.label() }}</b>
              {{ form.title(class="form-control", placeholder="Blog Title") }}
  
     
  
              <b>{{ form.description.label() }}</b>
              {{ form.description(class="form-control", placeholder="Description") }}
  
             
  
              <br>
              {{ form.submit(class="btn btn-lg btn-block btn-primary col-md-12") }}
              
               
  
              
          </div>
          </form>
          <div class="checkbox mb-3">
            <h6>Back to profile page</h6>
            <a class="btn btn-lg btn-block btn-primary" href="{{ url_for('profile') }}">Back to profile</a>
  
</div>
{% endblock %}