{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block main_content %}

  <h1 class="text-center">Blog Update</h1>
  <hr>
  <div class="container">


    <form method="POST" action="/editBlog/{{blog.id}}">
      
        <div class="form-group">
          <label for="exampleFormControlInput1">Title</label>
          <input type="text" class="form-control" name="title" value="{{blog.title}}">
        </div>
        
        
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Description </label>
          <textarea class="form-control" name="description">{{blog.description}}</textarea>
        </div>
        <div class="col-12 mt-3">
            <button type="submit" class="btn btn-primary mb-3">Submit</button>
          </div>
      </form>
          <div class="checkbox mb-3">
            <h6>Back to profile page</h6>
            <a class="btn btn-lg btn-block btn-primary" href="{{ url_for('profile') }}">Back to profile</a>
  
</div>
{% endblock %}