{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block main_content %}

  <h1 class="text-center">Home Page</h1>
  <hr>
  <div class="container">


          <div class="checkbox mb-3">
        
         {% for blog in blogs %}
         <div class="card float-right" style="margin-top: 10px;">
          <div class="row">
          
          <div class="col-sm-12">
            <div class="card-block" style="margin-left: 20px;">
            <h5 class="card-title">{{blog.title}}</h5>
            <p>{{blog.description}}</p>
            <p>Author </p>
            
          </div>
        </div>
       
        </div>
      </div>
      <hr>
         
         {% endfor %}
         
  
</div>
{% endblock %}