{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block main_content %}

  <h1 class="text-center">Login Page</h1>
  <hr>
  <div class="container">
  <form method="POST" class="form-login" >
        {{ form.hidden_tag() }}
            <b>{{ form.username.label() }}</b>
            {{ form.username(class="form-control", placeholder="User Name") }}

   

            <b>{{ form.password.label() }}</b>
            {{ form.password(class="form-control", placeholder="Password") }}

           

            <br>
            {{ form.submit(class="btn btn-lg btn-block btn-primary col-md-12") }}
            <div class="checkbox mb-3">
                <h6>Do not have an account?</h6>
                <a class="btn btn-lg btn-block btn-primary" href="{{ url_for('register') }}">Register</a>
             

            
        </div>
        </form>
</div>
{% endblock %}