<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">My Blog Home</a>
   
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    
      <ul class="navbar-nav justify-content-end ">
        
        {% if current_user.is_authenticated  %}
        <li class="nav-item ">
          <a class="nav-link " href="/profile">Profile</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        {% else %}
        <li class="nav-item ">
          <a class="nav-link" href="/register">Register</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link " href="/login">Login</a>
          </li>
          {% endif %}
        
        
      </ul>
      
    </div>
  </nav>