{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block main_content %}

  <h1 class="text-center">Profile Page</h1>
  <hr>
  <a class="btn btn-lg btn-block btn-primary float-end " href="{{ url_for('addblog') }}">Add New Blog</a>
  <div class="container">
    

          <div class="checkbox mb-3">
         
         {% for blog in blogs %}
         <div class="card float-right" style="margin-top: 100px;">
          <div class="row">
           
          <div class="col-sm-8">
            <div class="card-block" style = "margin-left : 90px">
            <h5 class="card-title">{{blog.title}}</h5>
            <p>{{blog.description}}</p>
            <p>ID :{{blog.id}}</p>
            <p>Author : {{current_user.username}}</p>
            
          </div>
        </div>
        <div class="col-sm-4" style = "margin-top : 90px">
          <a href="/editBlog/{{blog.id}}" class="btn btn-primary">Edit</a>
          <a href="/deleteBlog/{{blog.id}}" class="btn btn-primary">Delete </a>
        </div>
        </div>
      </div>
         
         {% endfor %}
         
  
</div>
{% endblock %}