{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block main_content %}

  <h1 class="text-center">Registration Page</h1>
  <hr>
  <div class="container">
  <form method="POST" class="form-register" >
    {{ form.hidden_tag() }}
            <b>{{ form.username.label() }}</b>
            {{ form.username(class="form-control", placeholder="User Name") }}

            <b>{{ form.email_address.label() }}</b>
            {{ form.email_address(class="form-control", placeholder="Email Address") }}

            <b>{{ form.password1.label() }}</b>
            {{ form.password1(class="form-control", placeholder="Password") }}

            <b>{{ form.password2.label() }}</b>
            {{ form.password2(class="form-control", placeholder="Confirm Password") }}

            <br>

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
            <div class="checkbox mb-3">
              <h6>Already have an account?</h6>
              <a class="btn btn-lg btn-primary" href="{{ url_for('loginUser') }}">Login</a>
           </div>

        </form>
</div>
{% endblock %}